<div class="container-lg-fluid">
  <div class="row-lg mx-auto">
    <h3 class="pt-3 text-center">投稿一覧</h3>
    <div class="col-10 mx-auto">
      <div class="text-right my-3">
        <%= link_to "投稿する", new_content_path, class: "btn btn-outline-dark fa fa-plus-circle" %>
      </div>
      <table class="table table-bordered mx-auto mb-5">
        <thead class="thead-dark">
          <tr>
            <th style="width: 15%;">日時</th>
            <th style="width: 15%;">名前</th>
            <th style="width: 15%;">キャンプ場名</th>
            <th style="width: 25%;">住所</th>
          </tr>
        </thead>
        <tbody>
          <% if @search_contents %>
            <% @search_contents.each do |content| %>
              <tr>
                <td><%= content.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
                <td>
                  <%= content.user.name %>
                </td>
                <td>
                  <%= link_to content_path(content.id) do %>
                    <%= content.name %>
                  <% end %>
                </td>
                <td><%= content.address %></td>
              </tr>
            <% end %>
          <% else %>
            <% @contents.each do |content| %>
              <tr>
                <td><%= content.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
                <td>
                  <%= content.user.name %>
                </td>
                <td>
                  <%= link_to content_path(content.id) do %>
                    <%= content.name %>
                  <% end %>
                </td>
                <td><%= content.address %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>