<div class="container-lg">
  <h2 class="mt-3"><%= @content.name %></h2>
  <div class="row">
    <table class="col-lg table table-bordered mx-auto my-3">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td style="width: 20%;">評価</td>
          <td>
            <%= @content.review %>
          </td>
          <td rowspan="5" class="text-center">
            <%= attachment_image_tag @content, :content_image, :fill, 250, 250, size:'250x250', format: 'jpeg', fallback: "no_image.jpeg" %>
          </td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td>
            <%= @content.genre.name %>
          </td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @content.address %></td>
        </tr>
        <tr>
          <td>紹介文</td>
          <td><%= @content.introduction %></td>
        </tr>
        <tr>
          <td colspan="2" class="text-center">
            <%= link_to "編集する", edit_admin_content_path(@content.id), class: "btn btn-success mr-3", type:"button" %>
            <%= link_to "投稿を削除", admin_content_path, method: :delete, class: "btn btn-danger ml-3", type:"button" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="map"></div>
<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var point ={lat: <%= @content.latitude %>, lng: <%= @content.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: point
      });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @content.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

// Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
      position:point,
      map: map,
      title: contentString
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<!-- googlemap API -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>