<div class="cover container-lg-fluid text-center" style="height: 800px; padding: 200px 0 200px 0;">

  <div class="p-3 m-auto" style="background-color: rgba(152,251,152,0.4); width: 400px; border-radius: 5px;">
    <h1>管理者ログイン</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-5">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",  size: "40x20" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions mb-3">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>
